OPENROUTER_API_KEY=your_openrouter_api_key_here
USERNAME=your_username_here
PASSWORD=your_password_here


SERPER_API_KEY=KEY # https://serper.dev/ (free tier)
BROWSERLESS_API_KEY=KEY # https://www.browserless.io/ (free tier)
OPENAI_API_KEY=KEY
EXA_API_KEY=Your Key
SXNG_URL=127.0.0.1
SXNG_PORT=8888

GHIDRA_ANALYZER_PATH=/usr/share/ghidra/support/analyzeHeadless
